# Angular specific
.DS_Store
node_modules/
dist/
tmp/
out-tsc/
*.log
*.tsbuildinfo
.env
# Environment files
# src/environments/environment.ts

# IDE specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
