<div class="w-full bg-background-banner min-h-screen">
  <!-- Hero Section -->
  <section class="bg-gradient-primary text-white py-8 sm:py-12 md:py-20 shadow-medium">
    <div class="w-full max-w-7xl mx-auto px-4 md:px-6 lg:px-8">
      <div class="max-w-4xl mx-auto text-center">
        <h1 class="text-2xl sm:text-3xl md:text-5xl font-bold mb-3 md:mb-4 leading-tight">
          Descubra as Melhores Ofertas com IA
        </h1>
        <p class="text-base sm:text-lg md:text-xl mb-6 md:mb-8 px-2 md:px-4 text-background-light/90">
          Use nosso assistente inteligente para encontrar exatamente o que você
          procura com os melhores preços!
        </p>
        <button
          class="bg-white text-primary-dark px-4 sm:px-6 md:px-8 py-2 md:py-3 rounded-xl font-semibold 
          hover:bg-opacity-90 transition-all transform hover:scale-105 
          shadow-soft hover:shadow-medium text-sm sm:text-base"
        >
          Começar Agora
        </button>
      </div>
    </div>
  </section>

  <!-- Main Content -->
  <div class="w-full max-w-full mx-auto px-2 sm:px-4 md:px-6 lg:px-8 py-4 sm:py-8 bg-background-dark">
    <div class="flex flex-col md:flex-row gap-3 bg-white">
      <!-- Chat Section -->
      <div class="w-full md:w-[30%]  rounded-xl sm:p-4 md:mb-0">
        <app-chat></app-chat>
      </div>
      
      <!-- Offers Section -->
      <div class="w-full md:w-[69%] h-[500px] md:h-[600px] overflow-y-auto  rounded-xl sm:p-4">
        <app-offers></app-offers>
      </div>
    </div>
  </div>
</div>